.camera-thumbnail {
  border: 10px solid white !important;
  width: 150px;
  height: auto;
}
.camera-info-name {
  display: block;
  position:absolute;
  font-size: 12px;
  font-weight: bold;
  bottom:0;
  color:#fff;
  padding:15px 15px;
}
.gm-style-iw .camera-info {
  width: 150px !important;
  height: auto;
  top: 0 !important;
  left: 0 !important;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
  border: none;
  cursor: pointer;
}
#markerLayer img {
  border: 2px solid white !important;
  width: 50px !important;
  height: auto !important;
  box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
}
.gmnoprint {
  max-width: 50px !important;
  max-height: 50px !important;
}

#camera-single {
  background-image: url('/img/puff.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

#lnkBacktoMap {
  padding: 1px 10px;
  border-radius: 25px;
  background:rgba(255,255,255,0.4);
}

#camera-details-container {
  padding-top: 15px;
  padding-bottom: 15px;
}

#static-map {
  width:100%;
  cursor: pointer;
  border: none;
}

a#lnkBacktoMap {
  position: absolute;
  top: 15px;
  left: 11px;
}

.details {
  font-size: 15px;
}

.details td {
  padding-bottom: 5px;
}

.details td span {
  color: black;
  padding: 0px 15px 5px 0px;

}