.gm-style-iw .camera-info {
  width: 150px !important;
  height: auto;
  top: 0 !important;
  left: 0 !important;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
  border: none;
  cursor: pointer;
}
#markerLayer img {
  border: 2px solid white !important;
  width: 50px !important;
  height: auto !important;
  box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
}
.gmnoprint {
  max-width: 50px !important;
  max-height: 50px !important;
}

.camera-thumbnail {
  border: 10px solid white !important;
  width: 150px;
  height: auto;
}
.camera-snapshot {
  cursor: pointer;
}
.camera-info-name {
  display: block;
  position:absolute;
  font-size: 12px;
  font-weight: bold;
  bottom:0;
  color:#fff;
  padding:15px 15px;
}
.camera-wrap {
  margin-bottom: 5px;
  border: 1px solid #fff;
}
.add-to-account {
  font-size: 23px;
  text-shadow: 1px 1px #fff;
}
.add-to-account .large {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 30px;
  text-shadow: 1px 1px #333;
  border-radius: 25px;
  color: #fff;
  background:rgba(255,255,255,0.4);
}
.add-top-right {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 3px 5px 3px 5px;
  border-radius: 15px;
  background:rgba(100,100,100,0.5);
  cursor: pointer;
}

.off {
  color: #ff0000;
}

.modal {
  padding: 0px;
}

.sidebar-links {
  text-align: right;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 1.6;
  padding: 0px 10px;
}

#user-login {
  display: inline;
}

#camera-single {
  background-image: url('/img/puff.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

#camera-image-container {
  height: 95vh;
}

#camera-image {
  height: 95vh;
}

.live-view {
  background-color: #000;
}

.live-view img {
  height: 95vh;
  width: auto;
}

#lnkBacktoMap {
  padding: 1px 10px;
  border-radius: 25px;
  background:rgba(255,255,255,0.4);
}

#camera-details-container {
  padding-top: 15px;
  padding-bottom: 15px;
}

#static-map {
  width:100%;
  cursor: pointer;
  border: none;
}

a#lnkBacktoMap {
  position: absolute;
  top: 15px;
  left: 11px;
  color: #fff;
  text-shadow: 1px 1px #333333;
}

.details {
  font-size: 15px;
}

.details td {
  padding-bottom: 5px;
}

.details td span {
  color: black;
  padding: 0px 15px 5px 0px;
}