.apps {
	margin-top: 60px;

	.text-content {		
		@extend .col-md-5;
	}
	.btn {
		margin:25px auto 20px;
	}
}
.app-circle-animate {
	padding: 40px;
	background-color: #000000;
	border-radius: 50%;
}
#app-circle-animate {
-vendor-animation-duration: 3s;
  -vendor-animation-delay: 2s;
  -vendor-animation-iteration-count: infinite;
  }