html,body {
	width: auto;
	overflow-x: hidden;	
}
main {
	@extend .container;
}
section {
	@extend .container;
	padding: 40px 15px;
}

.alt-color {
	background-color:$section-background;
}
.title {
	@extend .row;
}
#contact {
	@extend .row;
}
.use-card-inner {
	@extend .col-md-3;
}

#map {
	@include size (100%, 400px);
	margin-bottom: 40px;
}

