.team-individual {
	@extend .col-md-4;
	text-align:center;
	margin-bottom:30px;
	img {
		border-radius: 50%;
	}
	h2 {
		color: $header-text;
	}
	h4, small {
		color: $grey;
	}
	a {
		font-size: 12px;
		color:$grey;
	}
}
.live-view {
	background-color:$white;
}
#ec-container-wayra_office {
	margin:0 auto;
	display:block;	
}
.terms {
	a {
		color: $header-text;}

		h5 {
		margin-top: 50px;
	}
	section:first-child {
		padding: 30px 0px;
	}
	section:last-child {
	padding: 0px 0px 80px;	
	}
}
#develop {
	header {
		margin-bottom:0px;
	}
	.banner-content {
		@extend .col-md-7;
	}
}
.develop {
	@extend .container;
	margin: 20px 0 0;

}
.develop-feature {
	@extend .col-md-4;
	text-align:center;
	
	img {
		width: 100px;
		margin-bottom:10px;
	}

	h3 {
		margin-bottom:20px; 
	}
	p {
		margin-bottom:25px;
	}
}
.terms {
	margin-top: 70px;
}
#four-o-four {
	height: 100vh;
}
.four-o-four {
	@include vertical-align;
	margin-top: -100px;
}
.wordpress-page {
	@extend .col-md-12;
}
#values {
	section {
		h2 {
			margin-top: 0px;
			padding-bottom: 40px;
		}
	}
}
/*team*/
#team {
	h1 {
		font-size: 38px;
		margin-bottom: -5px;
	}
}
.team-individual img {
  max-width: 236px;
}
.team .fa {
	font-size: 16px;
}
/*contact*/
#contact {
	p {
		font-size:$font-size-l; 
	}
	h1 {
		margin-top: 0px;
	}
}
.contact-form {
	@extend .col-md-6;
}

#map {
	@include size (100%, 400px);
	margin: 70px 0px 40px;
}
.address {
	@extend .col-md-6;
	float: left;
	min-width: 300px;
	margin-bottom: 50px;
}
/*press*/
#press {
	section h3 {
		margin-bottom: 45px;	
	}
	h6 {
		height: 42px;
	}
}
.press-kit {
	padding: 60px 0px;
	background-color: #f5f5f5;
}
.press-kit {
	.btn {
		min-width: 264px;
		margin-bottom: 15px;
		margin:0 auto;
	}
	p {
		padding-top: 25px;
		text-align: center;
		font-size:$font-size-r;
	}
}
.in-the-press {
@extend .row;
}
.press-card {
	padding-bottom: 40px;
}
.press-item {
	.fa-arrow-right {
		font-size:12px;
	}
}
.press-item {
	.btn {
		min-width: 264px;
	}
}
.speaker-card {
	@extend .col-md-4;
	margin-bottom: 50px;
		.fa-arrow-right {
		font-size:12px;
	}
}
.featured {
	@extend .col-md-4;
}
.list {
	@extend .col-md-8;
}
/*brand guidelines*/
.logos {
	@extend .row;
	padding-top: 40px;
}
.logo-card {
	@extend .col-md-6;
}
#brand {
	section {
		padding-bottom: 80px;
	}
.btn {
			text-align: left;
			padding: 0;
			color: $primary-blue;
			min-width: 280px;
	}
}