//Font Variables
$font-stack:"proxima-nova-regular", Helvetica, Arial, sans-serif;
$font-stack-header:"league-spartan", Helvetica, Arial, sans-serif;
$font-stack-extrabold:"proxima-nova-extrabold", Helvetica, Arial, sans-serif;
$font-stack-bold:"proxima-nova-bold", Helvetica, Arial, sans-serif;
$font-stack-semibold:"proxima-nova-semibold", Helvetica, Arial, sans-serif;
$font-stack-italic:"proxima-nova-it", Helvetica, Arial, sans-serif;


$font-size-xl: 26px;
$font-size-l: 20px;
$font-size-r: 20px;
$font-size-s: 14px;
$font-size-xs: 12px;
$font-size-xxs: 11px;

$h1:38px;
$h2-color:#aaaaaa;
$body-text:#a3a3a3;
$header-text:#515254;
$footer-text:#eaeaea;

$border-color:#dddddd;
$header-background:#e5e5e5;
$section-background:#f5f5f5;
$dark-background:#1e2b2e;

//Section Variables
$section-padding-60:40px 0px;

//Color Variables
$abbey:#515254;
$primary-blue:#428bca;
$white:#ffffff;
$off-white:#f5f5f5;
$light-grey:#e5e5e5;
$grey:#aaaaaa;

.blue {
  color: $primary-blue;
}