footer {
	padding:$section-padding-60;
	color:$grey;
	background-color:$dark-background;
	font-size: $font-size-s;
	a {
		color:$grey;
	}
	a:hover {
		color:lighten($light-grey, 10%);
	}
	p {
		font-size: $font-size-s;
		}
	h3 {
		text-transform: uppercase;
		letter-spacing:.04em;
		font-size: $font-size-xs;
		color:darken($body-text, 25%);
		font-family: $font-stack-bold;
	}
	ul {
		padding: 0px;
	}
	li {
		list-style: none;
		font-size: $font-size-s;
		line-height: 1.8em;
	}
	.fa {
		width: 18px;
	}
}
@media only screen and (max-width: $screen-sm-min) {
		footer li {
			font-size: 16px;
		}
	}
.footer-about {
	@extend .col-sm-4;
		ul {
		@extend .col-sm-6;
	}
	.footer-connect {
		@extend .col-sm-12;
	}
}
.footer-menu {
	@extend .col-sm-8;
	ul {
		@extend .col-sm-4;
	}
}
.social-icons {
	margin-top:30px;
	span {
		margin-right: 5px;
	}
}
.social-links {
	@extend .row;
}
div.sendgrid-subscription-widget label input {
  background: transparent;
  border-radius: 2px;
  color: #aaaaaa;
  border: 1px solid #aaaaaa;
  float: left;
  padding: 3px 7px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-family: $font-stack;
  font-weight: normal;
}
div.sendgrid-subscription-widget input {
  border-radius: 2px;
  padding: 3px 9px;
  margin-top: 3px;
  color: #ffffff;
  border: 1px solid #aaa;
  background: #aaa;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.sendgrid-subscription-widget label>span {
	display: none !Important;
}
.subscribe {
	margin-bottom: 25px;
	p {
		margin-bottom: 0px;
	}
}
.create-account {
	background-color: #ffffff;
	padding: 80px 0px;
}
.create-account .btn {
	margin:0 auto;
	min-width: 250px;
}