//header
header {
	@extend .container;
	margin-top: 70px;
	margin-bottom:30px;
}
.banner {
	@extend .row;
	margin-top: 30px;
	margin-bottom: 30px;
	position: relative;
	.btn-primary {
		margin: 20px 0px 10px;
	}
}
.banner-content {
	@extend .col-md-5;	
	margin-top:40px;
	margin-bottom:35px;
}
#manufacturers, #brand, #open-source  {
	.banner-content {
		@extend .col-md-8;		
	}
}
#press {
	.banner-content {
		@extend .col-md-6;		
	}
}
#public-cameras, #values {
	.banner-content {
		@extend .col-md-12;		
	}
}
#home, #app-store, #use-cases, #manufacturers  {
	header h1 {
		font-size: 68px;
	}
}
.banner-image {
@extend .col-md-6;	
	img {
	position: absolute;
  width: 897px;
  right: -373px;
  z-index: 10;
  top: 8px;
	}
}
@media only screen and (max-width: $screen-lg-min) {
	.banner-image img {
		right: -366px;	
	}
}
.desktop {
  position: absolute;
  right: -257px;
  top: 52px;
}
.desktop img {
	width:120%;
	z-index:1000000;
}
.phone {
  position: absolute;
  right: 428px;
  top: 250px;
  z-index: 100;
}
.phone img {
	z-index: 1000000;
}
.dash-scroll {
	position:fixed;
	right:0;
	z-index:-1;
}
.dash-scroll img {
	width:600px;
}
.app-image img {
	float: right;
	width: 358px;
}
.construction-image img {
	position: absolute;
	right: -568px;
	width: 100%;
	top: 0px;
	z-index:10000;
}
.manufacturers-image img {
  width: 100%;
  z-index: 10000;
  position: absolute;
  right: 0px;
  max-width: 347px;
  top: 20px;
}
.weighbridge-image img {
	position: absolute;
	right: -132px;
	width: 53%;
	top: 26px;
	z-index: 10000;
	border-radius: 4px;
}

@media (max-width: $screen-md-min) { 
	.banner-image img, video, .construction-image img, .app-image img, .desktop img,.phone img, .weighbridge-image img,.manufacturers-image img {
		display:none;
	}
}