.cards {
		@extend .row;
		margin-top: 40px;
		margin-bottom:20px;
		h3 {
			color:$header-text;
			//font-family: $font-stack-bold;
		}
	}
	#home .card {
		@extend .col-md-4;
	}
	.card {
		@extend .col-md-4;
		@extend .col-sm-6;
		@extend .col-xs-12;
		text-align: center;
		margin-bottom: 30px;
		cursor:pointer;

		i.circle{
		 	border-radius: 60px;
		  border: 2px solid $primary-blue;
		  padding: 20px;
		}
		i.fa-history {
			padding: 20px 23px;
		}
		.fa {
			color: $primary-blue;
		}
	}
.card-inner {
	@include border-radius(2px);
	background-color: $white;
	padding:20px 10px 10px;
	box-shadow:0 1px 0 rgba(0,0,0,.05);
	@include transition(all, 0.3s, ease-in-out);
	min-height: 202px;
}
#home .apps .card-inner {
	@include border-radius(2px);
	background-color: $white;
	padding:40px 20px 0px;
	box-shadow:0 1px 0 rgba(0,0,0,.05);
	@include transition(all, 0.3s, ease-in-out);
	min-height: 288px;
}
.card	.fa-external-link-square, .card	.fa-arrow-right {
	color:#ffffff;
}
.card:hover .fa-external-link-square, .card:hover	.fa-arrow-right {
		@include transition(all, 0.3s, ease-in-out);
		color:$grey !important;
}
.card:hover {
	.card-inner {
		box-shadow:2px 4px 4px rgba(0, 0, 0, 0.1);	
	}
	.fa-external-link-square {
		@include transition(all, 0.3s, ease-in-out);
		color:$grey;
	}
}
.card-inner .app-logo {
	max-width:83px;
}
.icon {
	width:24px;
}
.icon-arrow {
	margin-top:-3px;
}
.circle-icon {
	border: 1px solid;
	border-radius:50%;
	padding:10px;
}
#home {
	img.app-logo {
		border-radius: 50%;
	}
}
#use-case .card-inner {
		box-shadow: none !important;
}
#use-case .circle {
margin-bottom: 20px;
}
.develop-feature {
	i.circle{
		 	border-radius: 60px;
		  border: 2px solid #aaaaaa;
		  padding: 20px;
		}
}
i.fa.fa-dollar.fa-2x.circle {
	padding: 20px 28px;
}
i.fa.fa-github.fa-2x.circle {
  padding: 20px 23px;
}
i.fa.fa-file-image-o.fa-2x.circle {
padding: 20px 24px;	
}
i.fa.fa-mobile.fa-2x.circle {
	  padding: 16px 29px;
  font-size: 43px;
}
span.circle-icon.fa.fa-facebook-f {
	padding: 10px 13px;
}