input, textarea {
	@include border-radius(2px);
	border: 1px solid $light-grey;
	padding: 3px 10px;
}
.contact-form input, .contact-form button, .contact-form textarea {
	width: 300px;
	float: left;
	clear: both;
	margin-bottom: 15px;
}
input:focus, textarea:focus{
	outline:none;
}