input, textarea {
	@include border-radius(2px);
	border: 1px solid $light-grey;
	padding: 3px 10px;
}
.contact-form input, .contact-form button, .contact-form textarea {
	width: 300px;
	float: left;
	clear: both;
	margin-bottom: 15px;
}
input:focus, textarea:focus{
	outline:none;
}
table {
	font-size: $font-size-l;
	margin-bottom: 40px !important;
	color: #888888;
}
th {
	color: $abbey;
	font-weight: normal;
	font-family: $font-stack-semibold;
	border-top:none !important;
}
.table>tbody>tr>td {
	border-top:none;
}
table.dataTable.no-footer, table.dataTable thead th, table.dataTable thead td {
	border-bottom: 1px solid #e5e5e5;
}
/*datatable overwrite*/
.dataTables_wrapper .dataTables_paginate .paginate_button {
	background: none !important;
	border: 0px solid transparent !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
	border-radius: 3px !important;
	border: 1px solid $grey !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
	color: $primary-blue !important;
}

label {
	font-weight: normal;
}
.form-control {
	border-radius: 2px;
}
#public input {
  border: 1px solid #e5e5e5;
  padding: 6px;
  box-shadow: 0 0 0 50px #f9f9f9 inset !important;
  text-fill-color: #333;
}
#public input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px #f9f9f9 inset !important;
  -webkit-text-fill-color: #333;
}
#public input:-webkit-autofill, #public textarea:-webkit-autofill, #public select:-webkit-autofill {
  background-color: rgb(250, 255, 189);
  background-image: none;
  color: rgb(0, 0, 0);
}
