input, textarea {
	@include border-radius(2px);
	border: 1px solid $light-grey;
	padding: 3px 10px;
}
.contact-form input, .contact-form button, .contact-form textarea {
	width: 300px;
	float: left;
	clear: both;
	margin-bottom: 15px;
}
input:focus, textarea:focus{
	outline:none;
}
table {
	font-size: $font-size-l;
	margin-bottom: 40px !important;
	color: #888888;
}
th {
color: $abbey;
	font-weight: normal;
	font-family:$font-stack-semibold;
	border-top:none !important;
}
.table>tbody>tr>td {
	border-top:none;
}